.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background-image: url('./image 1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: brightness(1.2);
  position: relative;
  padding: 20px;
}

.about-text-box {
  width: 50%; /* Takes half of the page */
  background-color: rgba(0, 0, 0, 0.4); /* More transparency for the background */
  padding: 40px 20px;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.about-text-box h1 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

.about-text-box p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.about-image {
  width: 35%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 20px;
}
